@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


html{
    background-color: #DEDEE8;
    box-sizing: border-box;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
}

.shake {
  animation: shake 0.5s ease-in-out infinite;
}


.swiper-button-next,.swiper-button-prev{
  color: white  !important;
  background-color: rgba(255, 255, 255,0.2) !important;
  padding: 10px !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
}

.swiper-button-next::after,.swiper-button-prev::after{
  font-size: 15px !important;
}

@layer components {
  .w-custom {
    width: calc(33% - 20px);
  }

  .w-breakpoint {
    width: calc(50% - 20px);
  }

  .w-custom-references{
    width: calc(25% - 20px);
  }

   .w-custom-references-2{
    width: calc(50% - 20px);
  }
}